Content/**/*.*
!.gitignore
!Content/CVO/**
!Content/CVO_BP_Assist/**

!Content/WeaponsNTools/AssaultRifle/WPN_AssaultRifle.uasset
!Content/WeaponsNTools/AssaultRifle/ID_AssaultRifle.uasset
!Content/WeaponsNTools/AssaultRifle/Overclocks/OC_BonusesAndPenalties/BP_ElectricReloadComponent.uasset

!Content/WeaponsNTools/BoltActionRifle/WPN_M1000.uasset
!Content/WeaponsNTools/BoltActionRifle/ID_M1000.uasset
!Content/WeaponsNTools/BoltActionRifle/STE_M1000_Electrocution.uasset

!Content/WeaponsNTools/CombatShotgun/ID_CombatShotgun.uasset
!Content/WeaponsNTools/CombatShotgun/WPN_CombatShotgun.uasset

!Content/WeaponsNTools/SawedOffShotgun/ID_SawedOffShotgun.uasset
!Content/WeaponsNTools/SawedOffShotgun/WPN_SawedOffShotgun.uasset

!Content/WeaponsNTools/DualMachinePistols/ID_DualMPs.uasset
!Content/WeaponsNTools/DualMachinePistols/WPN_DualMPs.uasset

!Content/WeaponsNTools/GrapplingGun/ID_GrapplingGun.uasset
!Content/WeaponsNTools/GrapplingGun/WPN_GrapplingGun.uasset
!Content/WeaponsNTools/GrapplingGun/PAF_ScoutSpeedBoost.uasset

!Content/WeaponsNTools/GatlingGun/ID_Gatling.uasset
!Content/WeaponsNTools/GatlingGun/WPN_Gatling.uasset

!Content/WeaponsNTools/Autocannon/ID_Autocannon.uasset
!Content/WeaponsNTools/Autocannon/WPN_Autocannon.uasset
!Content/WeaponsNTools/Autocannon/STE_AutoCanno_DamageResit.uasset

!Content/WeaponsNTools/Drills/ID_DoubleDrills.uasset
!Content/WeaponsNTools/Drills/WPN_DoubleDrills.uasset

!Content/WeaponsNTools/FlareGun/ID_FlareGun.uasset
!Content/WeaponsNTools/FlareGun/WPN_FlareGun.uasset

!Content/WeaponsNTools/PlatformGun/ID_PlatformGun.uasset
!Content/WeaponsNTools/PlatformGun/WPN_PlatformGun.uasset

!Content/WeaponsNTools/Revolver/STE_Revolver_Neurotoxin.uasset

!Content/WeaponsNTools/SMG/ID_SMG.uasset
!Content/WeaponsNTools/SMG/WPN_SMG_OneHand.uasset
!Content/WeaponsNTools/SMG/STE_ElectricSMG.uasset

!Content/WeaponsNTools/LineCutter/Overclocks/OC_BonusesAndPenalties/STE_Electric_Plasma_Linecutter.uasset

!Content/WeaponsNTools/LockOnRifle/STE_EnemySlowdown_LockOnRifle.uasset

!Content/WeaponsNTools/BurstFirePistol/Overclocks/OCBonusPenalty/STE_Electric_BurstPistolMines.uasset

!Content/WeaponsNTools/SentryGun/STE_TurretArc_Enemies.uasset

!Content/WeaponsNTools/MicrowaveGun/STE/STE_EnemySlowdown_MicrowaveGun.uasset
!Content/WeaponsNTools/MicrowaveGun/STE/STE_RadiationCloud_MicrowaveGun.uasset
!Content/WeaponsNTools/MicrowaveGun/STE/STE_RadiationEnemy_MicrowaveGun.uasset

!Content/WeaponsNTools/Grenades/IFG/STE_Grenade_IFG_SlowMovement.uasset
!Content/WeaponsNTools/Grenades/Neurotoxin/STE_Grenade_Neurotoxin.uasset

!Content/WeaponsNTools/CoilGun/STE_ContrailBase_CoilGun.uasset
!Content/WeaponsNTools/CoilGun/STE_ElectricTrail_Coilgun.uasset
!Content/WeaponsNTools/CoilGun/STE_HellfireTrail_CoilGun.uasset

!Content/WeaponsNTools/Crossbow/StatusEffects/STE_Crossbow_ChemicalExplosion.uasset
!Content/WeaponsNTools/Crossbow/StatusEffects/STE_Crossbow_Pheromone.uasset
!Content/WeaponsNTools/Crossbow/StatusEffects/STE_Crossbow_TaserArrows.uasset

!Content/WeaponsNTools/HeavyParticleCannon/STE_EnemySlowdown_HeavyParticleCannon.uasset

!Content/Game/GameData/GD_SchematicSettings.uasset
!Content/Game/GameData/GD_DamageSettings.uasset
!Content/GameElements/PawnAffliction/PAF_Electicity.uasset
!Content/GameElements/PawnStats/*
!Content/GameElements/Resources/**/RES*
!Content/GameElements/Schematics/DT_SchematicPricingTable.uasset
!Content/GameElements/Schematics/*
!Content/GameElements/Schematics/Rarity/*
!Content/GameElements/Schematics/Categories/SCAT*
!Content/WeaponsNTools/_GlobalSkins/SCC_GlobalSkin_*
!Content/WeaponsNTools/_UpgradeCategories/*
!Content/UI/Art/Icons/Icons_Overclocks/Rewards/*
!Content/WeaponsNTools/ZipLineGun/STE_ZiplineFallDamageReduction.uasset
!Content/LevelElements/RoomObjects/Hazards/ElectricPlant/STE_ElecticPlant_slowdown.uasset
!Content/LevelElements/RoomObjects/Hazards/STE_Radiation_MiniNuke_Enemy.uasset
!Content/GameElements/Damage/DMG*
!Content/GameElements/KPI/Perks/EXKEY_MovementSpeedBonus.uasset
